<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item"><a href="/">Home</a></li>
    {% for page in config.pages %}
      <li class="nav-item"><a href="{{ page.link }}">{{ page.title | capitalize }}</a></li>
    {% endfor %}
    <li class="social">
      <a class="social-item" href="https://twitter.com/adams_alves">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
    </li>
    <li class="social">
      <a class="social-item" href="https://github.com/adamsalves">
        <i class="fa fa-github fa-2x"></i>
      </a>
    </li>
  </ul>
</nav>
