<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ config.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="four columns header">
        {% include "partials/header.html" %}

        {% include "partials/navigation.html" %}
      </div>
      <div class="eight columns text-content">
        <main>
          <section class="post">
            <ul class="post-list">
              {% for post in posts %}
              <li>
                <span>{{ post.date }}</span>
                <article>
                  <a href="/{{ post.link }}">{{ post.title }}</a>
                  <p>
                    {{ post.description }}
                  </p>
                </article>
              </li>
              {% endfor %}
            </ul>
          </section>
        </main>
      </div>
    </div>
  </div>
  {% include "partials/footer.html" %}
</body>
</html>
