<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.metadata.title }} - {{ config.title }}</title>
  <meta name="author" content="{{ config.author }}">
  <meta name="description" content="{{ config.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="keywords" content="javascript, html, html5, css, css3, frontend, web" />

  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
{% include "partials/header.html" %}
<main>
  <article>
    <header>
      <h2>{{ page.metadata.title }}</h2>
    </header>
    {{ page.content }}
  </article>
</main>
{% include "partials/footer.html" %}
