<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.html" %}
</head>
<body>
{% include "partials/header.html" %}
<main>
  <article>
    <header>
      <time datetime="{{ post.metadata.date }}">{{ post.metadata.date }}</time>
      <h2>{{ post.metadata.title }}</h2>
    </header>
    {{ post.content }}
    <section>
      <ul>
        {% for category in post.metadata.categories %}
        <li>
          <a class="{{ category }}" href="/categories/{% if post.metadata.default_lang %}/{{ post.metadata.lang }}/{% endif %}{{ category | lower | trim }}">
            {{ category }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
  </article>
</main>
{% include "partials/footer.html" %}
