<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.html" %}
</head>
<body>
<div id="layout" class="pure-g">
  {% include "partials/header.html" %}
  <main class="content pure-u-1 pure-u-md-3-4">
    <article>
      <header class="post-header">
        <h2 class="post-title">{{ post.metadata.title }}</h2>
          <p class="post-meta">
            <time datetime="{{ post.metadata.date }}">{{ post.metadata.date }}</time>
            {% for category in post.metadata.categories %}
              <a class="post-category {{ category }}" href="/categories/{% if post.metadata.default_lang %}/{{ post.metadata.lang }}/{% endif %}{{ category | lower | trim }}">
                {{ category }}
              </a>
            {% endfor %}
          </p>
      </header>
      {{ post.content }}
    </article>
    {% include "partials/footer.html" %}
  </main>
</div>
