body {
	overflow-x: hidden;
}

footer {
	text-align: center;
	height: 50px;
	background: rgb(240, 240, 240);
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: 30px;
}

header h1 {
	margin-top: 10px;
}

header {
	text-align: center;
	width: 100%;
}

section.post ul{
	list-style: none;
}

.header {
	background-color: #F0F0F0;
	padding: 10px;
}

.categories {
	margin-bottom: 1rem;
	list-style: none;
	display: inline;
	margin: 2px;
	padding: 4px;
}

.nav-menu li{
  display: inline;
}

.text-content {
	margin-top: 15px;
	margin-bottom: 100px;
}

.post-list>li>span {
	font-size: 15px;
}

.post-list>li>article a {
	font-size: 30px;
}
